/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

html {
  background-color: #e4e5e8;
}
body {
  background-color: #fff;
}
html,body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
.container {
  width: 860px;
  margin: 0 auto;
}

a {
  color: #4285f4;
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }
}

.page-heading {
  font-family: 'Roberto Condensed', Helvetica, sans-serif;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -1px;
}

footer {
  background-color: #e4e5e8;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #555;
  line-height: 80px;
  text-transform: uppercase;
}