nav {
  background-color: #34302d;
  width: 100%;
  text-align: right;
  
  a {
	display: inline-block;
    padding: 17px 20px;
    color: #999;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    text-decoration: none;
    
    &.title {
      float: left;
      padding: 7px 0;
      font-size: 36px;
      font-weight: bold;
      color: #fff;
	  letter-spacing: -1px;
    }
    &.active {
      color: #fff;
      font-weight: bold;
    }
	&.social-icon {
		vertical-align: top;
		padding: 13px 20px 14px;
		border-left: 1px solid #999;
		
		&:last-child {
			border-right: 1px solid #999;
		}
		&.fa-github:hover {
			color: #4183c4;
		}
		&.fa-twitter:hover {
			color: #55acee;
		}
		&.fa-rss-square:hover {
			color: #f8a228;
		}
	}
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
}